body {
    margin: 50px auto;
    width: 80%;
}
nav ul, footer ul {
    /*font-family:'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: 'Roboto Condensed', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #f1f1f1
}
nav ul li, footer ul li {
    display: inline;
}
nav ul li a {
    display: inline-block;
    color: #000;
    /*padding: 10px 10px 10px 10px;*/
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

footer ul li a {
    display: inline-block;
    color: #000;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}

nav ul li a:hover {
    background-color: #555;
    text-decoration: none;
    color: white
}

footer ul li a:hover {
    background-color: #555;
    text-decoration: none;
    color: white
}

h1 {
    font-size: 2em;
	font-family: 'Alegreya Sans', sans-serif;
}
p {
    font-size: 1.3em;
    line-height: 1.2em;
    color: #333;
	text-align: justify;
	text-justify: inter-word;
    font-family: 'Raleway', sans-serif;
}

.para_text {
    font-size: 1.2em;
    line-height: 1.3em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Raleway', sans-serif;
}

.para_text1 {
    font-size: 1.3em;
    line-height: 1.5em;
    color: #333;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Raleway', sans-serif;
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    font-family: 'PT Sans', sans-serif;
}

ul.posts li a {
    color: blue;
    text-decoration: none;
}

ul.posts li a:hover {
    color: #888;
}

.resume_name {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
    /* font-family: 'Helvetica', 'Arial', 'Sans-Serif'; */
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
    font-weight: bold;
}

.resume_address {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
	font-size: 0.9em;
}

.resume_section {
    text-align: left;
    font-variant: small-caps;
    /*font-family: 'Helvetica', 'Arial', 'Sans-Serif';*/
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    font-weight: bold;
	color: #333;
}

.resume {
    width: 82%;
}

.resume_text {
    text-align: left;
    line-height: 1.2em;
	font-family: 'PT Sans', sans-serif;
	font-size: 0.9em;
	color: #222;
    text-align: justify;
    text-justify: inter-word;
}

tr {
    font-weight: bold;
    font-family: 'PT Sans', sans-serif;
    /*font-family: 'Helvetica', 'Arial', 'Sans-Serif';*/
    text-decoration: none;
    color: black;
}

p a {
	color: blue;
	text-decoration: none;
}

p a:hover {
	color: #888;
}

td a {
    color: #333;
    text-decoration: none;
}

td a:hover {
    color: blue;
}

ul li.skill_out {
	padding: 3px;
}

ul li.skill_out a {
    color: blue;
    text-decoration: none;
}

ul li.skill_out a:hover {
    color: #888;
}

ul li ul li.skills {
	padding: 3px;
}
