body {
    margin: 50px auto;
    width: 80%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
    background-color: #f1f1f1
}
nav ul li, footer ul li {
    display: inline;
}
li a {
    display: inline-block;
    color: #000;
    padding: 10px 10px 10px 10px;
    text-decoration: none;
}
/*a {
    text-decoration: none;
    color: #111;
}*/
ul a:hover {
    background-color: #555;
    text-decoration: none;
    color: white
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.resume_name {
    text-align: center;
    font-variant: small-caps;
    font-size: 2.5em;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    font-weight: bold;
}

.resume_address {
    text-align: center;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.resume_section {
    text-align: left;
    font-variant: small-caps;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

.resume {
    width: 75%;
}

tr {
    font-weight: bold;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    text-decoration: none;
    color: black;
}

td a {
    color: #000;
    text-decoration: none;
}

td a:hover {
    color: blue;
}