<!DOCTYPE html>
<html lang="en">
	<head>
		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=EB+Garamond:500' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Spectral+SC' rel='stylesheet'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/css/main1.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>{{ page.title }}</title>
	</head>

	<body>
		<nav class="navbar navbar-default width-1024-auto navbar-custom-color-light">
			<ul class="nav navbar-nav">
				<li class="text-nav"><a href="/">Home</a></li>
				<li class="text-nav"><a href="/resume">R&#233sum&#233</a></li>
				<li class="text-nav"><a href="/blog">Blog</a></li>
				<li class="text-nav"><a href="/projects">Projects</a></li>
				<li class="text-nav"><a href="/work_exp">Work Experience</a></li>
			</ul>
		</nav>
		
		<div class="container-fluid width-1024-auto">
			
			{{ content }}

		</div>

		<hr class="width-1024-auto"/>
		
		<nav class="navbar navbar-default width-1024-auto navbar-custom-color-light">
			<ul class="nav navbar-nav">
				<li class="text-nav"><a href="mailto:aakher@ncsu.edu">email</a></li>
				<li class="text-nav"><a href="https://github.com/aneeshkher" target="_blank">GitHub</a></li>
				<li class="text-nav"><a href="https://www.linkedin.com/in/aneeshkher" target="_blank">LinkedIn</a></li>
				<li class="text-nav"><a href="https://twitter.com/aneeshkher" target="_blank">Twitter</a></li>
			</ul>
		</nav>	
	</body>
</html>
