<!DOCTYPE html>
<html>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>

	<body>
		<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/resume">Resume</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/projects">Projects</a></li>
			<li><a href="/work_exp">Work Experience</a></li>
		</ul>
		</nav>
		
		<div class="class1">
			
			{{ content }}

		</div>

		<footer>
			<ul>
				<li><a href="mailto:aakher@ncsu.edu">email</a></li>
				<li><a href="https://github.com/aneeshkher">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/aneeshkher">LinkedIn</a></li>
			</ul>
		</footer>	
	</body>
</html>
